.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}
.footer__column-link:hover{
  opacity: 0.25;
  transition: 2s .1s linear;
}