.oakley {
  position: relative;
  padding-top: 160px;
  margin-top: -60px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  min-width: 784px;
  width: 80%;
  background-color: #f2f2f2;
}
